/* .responsive-layout {
    display: flex;
   
    gap: 10px;
   

  
}

@media (min-width: 768px) {
    .responsive-layout {
        display: flex;
        grid-template-columns: 1fr 1fr 1fr 2fr;
        justify-content: space-between;
    }
}

@media (min-width: 992px) {
    .responsive-layout {
        display: flex;
    }
}

@media (max-width: 675px) {
    .responsive-layout {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}
 */


 .responsive-layout {
    display: flex;
    justify-content: center;
    gap: 30px; /* Adding gap for spacing between items */
    width: 100%;
}

.responsive-layout-products {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}


/* Media query for small screens (max-width: 1024px) */
@media (max-width: 1024px) {
    .responsive-layout {
        flex-direction: column; /* Change to column for small screens up to 1024px */
    }
}

/* Media query for large screens (min-width: 1025px) */
@media (min-width: 1025px) {
    .responsive-layout {
        flex-direction: row; /* Change to row for screens wider than 1024px */
    }
}




/* For Products Detail page*/
@media (max-width: 768px) {
  .container {
    padding: 10px;
  }

  .gauge-chart-container {
    flex-direction: column;
    gap: 10px;
  }

  .gauge-container {
    flex-direction: column;
    align-items: center;
  }

  .data-table {
    overflow-x: auto;
  }

  .copy-icon {
    margin-left: 5px;
  }
}


@media (min-width:990px){
  section#shopify-section-template--20798237343778__170295790459c44df3 {
      max-width: 50% !important;
  }
  }

/* Spinner styles */
.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8); /* Semi-transparent background */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9998; /* Ensure it's on top */
  }
  
  .loading-spinner {
    position: relative;
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 320px;
    height: 320px;
    animation: spin 2s linear infinite;
  }
  
  .loading-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    color: #3498db;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  /* Media query for small screens */
  @media (max-width: 600px) {
    .loading-spinner {
      width: 100px;
      height: 100px;
      border-width: 8px;
    }
  
    .loading-text {
      font-size: 12px; /* Adjust text size for small screens */
    }
  }
  
  /* Add in your style.css */
.custom-data-table th,
.custom-data-table td {
  width: auto; /* You can set specific percentages for specific columns */
  padding: 10px;
}
.custom-data-table tr:hover {
  background-color: #f4f6f8; /* Light grey background on hover */
}

/* Style all headers */
.custom-data-table thead th {
  background-color: #f0f0f0; /* Light grey background for header */
  font-weight: bold; /* Bold text for header */
  padding: 12px; /* Padding for emphasis */
  border-bottom: 2px solid #dfe3e8; /* Bottom border for separation */
  color: #1c1c1c; /* Darker text color */
  text-align: center; /* Center-align the text */
}

/* Send Email Button */
.green-button {
  background-color: #28a745 !important; /* Green background */
  border-color: #28a745 !important; /* Green border */
  color: #fff !important; /* White text */
}


/* EmailModal Css */

.loading-overlay {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(255, 255, 255, 0.7);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.loading-spinner {
  width: 60px;
  height: 60px;
  border: 6px solid #f3f3f3;
  border-top: 6px solid #3498db;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

.loading-text {
  margin-top: 16px;
  font-size: 18px;
  color: #555;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
